<div class="container">
    <div class="well btf-modal">
        <div class="form-group">
            <label>Name</label>
            <input type="text" ng-value="name" disabled>
        </div>
        <div class="form-group">
            <label>Phone number</label>
            <input type="text" ng-value="phone" disabled>
        </div>
        <div class="form-group">
            <label>Pickup address</label>
            <input type="text" ng-value="address" disabled>
        </div>
        <button id="accept" class="btn btn-success" ng-click="accept()">Accept</button>
        <button class="btn btn-danger" ng-click="reject()">Reject</button>
    </div>
</div>
