<div class="header">
    <h3 class="text-muted">TaxiClient</h3>
</div>

<form>
    <input type="text" placeholder="Name" ng-model="name"/>
    <input type="text" placeholder="Phone" ng-model="phone"/>
    <input type="text" placeholder="Pickup Address" ng-model="pickupAddress"/>
    <button id="submit" ng-click="submit()">Submit</button>
</form>

<div id="sync_notification">
    {{syncNotification}}
</div>